@tailwind base;
@tailwind components;
@tailwind utilities;

.card:hover{
    box-shadow: 0px 5px 20px rgba(0, 10, 5, 0.3);
}

.sort{
    width: 100%;
    text-align: left;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
    border-radius: 25px;

}
.sort:hover{
    background-color:#BBA7FB;
}

.popup{
    border-radius: 25px;
    box-shadow: 0px 5px 20px rgba(0, 10, 5, 0.3);
}